/* Google fonts : fira sans  */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }

  /* overall styles  */
 *{
   margin:0px 15px; 
 }

  /* shared styles  */
  .btn{
    color:#ffffff;
    background-color: #006A50;
    border-radius:8px;
    border:none;
    padding:17px 34px;
    font-size:18px;
    font-weight: semibold;
  }

  .btn:hover{
    background-color: transparent;
    color: #006A50;
    border:2px  solid #006A50;
    cursor: pointer;
  }

  /* header styles  */
  nav{
    margin-bottom:20px;
  }

  nav ul{
    display:flex;
    align-items:center;
    justify-content: space-between;
    list-style-type: none;
  }

  .title{
    font-size: 32px;
    font-weight: bold;
    color:#0E0E0E;
  }

  .signin-btn{
    border-radius: 8px;
    font-size: 18px;
    font-weight: semibold;
    color:#006A50;
    border:2px  solid #006A50;
    padding:15px 30px;
    background-color: transparent;
  }

  .signin-btn:hover{
    background-color: #006A50;
    color: #ffffff;
    border-color: #004d37;
    cursor: pointer;
  }

  /* banner styles  */
  .banner{
    display: flex; 
    background-color: #C6E4D6;
    padding: 80px 50px;
    margin-bottom:80px;
    border-radius: 24px;
    align-items: center; 
    justify-content: space-between; 
  }

  .banner-title{
    color:rgba(14, 14, 14, 0.5);
    font-size:24px;
    font-weight:medium;
    margin-bottom: 16px;
  }

  .banner-description{
    color:#0E0E0E;
    font-size:56px;
    font-weight:bold;
    margin-bottom:24px;
  }

  /* section styles  */
  section{
    margin-bottom:80px;
  }

  /* Pillar section styles */
.pillar-header{
    color:rgba(14,14,14,1);
    font-size:40px;
    font-weight:bold;
    margin-bottom: 32px;
}
  .pillar-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
  }

  .pillar{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding:24px;
    border-radius: 16px;
  }

 .pillar-img{
    margin-bottom:24px;
 }

  .pillar-title{
    font-size:20px;
    font-weight:bold;
    color:rgba(14,14,14,0.8);
    margin-bottom:12px;
  }

  .pillar-description{
    font-size:16px;
    font-weight:regular;
    color:rgba(14,14,14,0.7);
  }
 

  /* vission section styles  */

  .vision-header{
    color:rgba(14,14,14,1);
    font-size:40px;
    font-weight:bold;
    margin-bottom:32px;
  }

  .vision-header-description{
    color:rgba(14, 14, 14, 0.7);
    font-size:16px;
    font-weight:regular;
    margin-bottom:32px;
  }

  .vision-section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
    margin-bottom:32px;
  }

  .vision1,.vision2,.vision3{
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding:32px;
    border-radius: 16px;
  }

  .vision1{
    background-color: rgba(84, 144, 245, 0.2);
  }
  .vision2{
    background-color:rgba(198, 228, 214, 1);
  }
  .vision3{
    background-color:rgba(247, 235, 207, 1)
  }

  .vision-img{
    margin-bottom:24px;
  }

  .vision-title{
    color:rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
  }

  .vision-description{
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 24px;
  }

  .vision-btn{
    color:#FFFFFF;
    font-size:16;
    font-weight:semibold;
    padding:11px 20px;
    border-radius:8px;
    border:none;
  }

  .vision1 .vision-btn{
    background-color: rgba(84, 144, 245, 1);
  }

  .vision1 .vision-btn:hover{
    background-color: transparent;
    color: rgba(84, 144, 245, 1);
    border:2px  solid rgba(84, 144, 245, 1);
    cursor: pointer;

  }
  .vision2 .vision-btn{
    background-color: rgba(9, 161, 92, 1);
  }

  .vision2 .vision-btn:hover{
    background-color: transparent;
    color: rgba(9, 161, 92, 1);
    border:2px  solid rgba(9, 161, 92, 1);
    cursor: pointer;
  }

  .vision3 .vision-btn{
    background-color: rgba(255, 194, 57, 1);
  }

  .vision3 .vision-btn:hover{
    background-color: transparent;
    color: rgba(255, 194, 57, 1);
    border:2px  solid rgba(255, 194, 57, 1);
    cursor: pointer;
  }

  .vision-Yunus{
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat; 
    background-position: 37px 20px;
    border-radius:16px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    padding: 48px 24px;
  }

  .vision-Yunus-description{
    color:rgba(14, 14, 14, 0.8);
    font-size:16px;
    font-weight:regular;
    margin-bottom:12px;
  }

  .vision-name{
    color:rgba(14, 14, 14, 0.8);
    font-size:20px;
    font-weight:semibold;
    margin-bottom:4px;
  }

  .vision-position{
    color:rgba(14, 14, 14, 0.6);
    font-size:16px;
    font-weight:regular;
  }

  /* Opinion section styles  */


  /* Recent section styles  */
  .recent-header{
    font-size:40px;
    font-weight:bold;
    color:#0E0E0E;
    margin-bottom:24px;
  }

  .recent-header-description{
    font-size:16px;
    font-weight:regular;
    color:rgba(14, 14, 14, 0.7);
    margin-bottom:32px;
  }

  .recent{
    display:flex;
    padding:32px;
    justify-content: space-between;
    gap:10px;
    border-radius:16px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    margin-bottom:24px;
  }

  .recent-img{
    border-radius: 24px;
  }

.recent-title{
    font-size:32px;
    font-weight:bold;
    color:rgba(14, 14, 14, 0.8);
    margin-bottom:12px;
}
.recent-channel{
    margin-bottom:12px;
}

.recent-date,.recent-description{
    color:rgba(14, 14, 14, 0.7);
    font-size:16px;
    font-weight:regular;
}

.recent-date{
    margin-bottom:12px;
    padding:0;
    margin-left:0;
}

.gap{
    gap:5px;
}
.recent-description{
    margin-bottom:60px;
}
